# Sample OAuth env
GITHUB_CLIENT_ID=Ov23livCHGxvKhwnvLVx
GITHUB_CLIENT_SECRET=2d5a9f258c02c402d80d1ce53d80925ea4a8084c
OAUTH_CALLBACK_URL=http://localhost:8000/auth/callback
# For device flow (optional)
ENABLE_DEVICE_FLOW=true
